@charset "UTF-8";

*{
    font-size: 30px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    position: static;
}
@font-face {
    font-family: Josefin;
    src: url(../Fontes/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Coreg;
    src: url(../Fontes/Courgette/Courgette-Regular.ttf);
}
@font-face {
    font-family: Cutimono;
    src: url(../Fontes/CutiveMono-Regular.ttf);
}
header > p{
    font-family: Cutimono;
}
body{
    background-color: #A5F59B;
    font-family: Josefin;
}
header{
    background-color: #04280D;
    padding: 10px;
    display: flex;
    color: white;
}
nav > div{
    background-color: #38BB84;
    padding: 5px;
    width: 250px;
    position: absolute;
    top: 15%;
    right: 1%;
}
nav > div.close > button#Cart_close {
    border: 0px;
    background-color: #38BB84;
}
nav >div > span{
    color: white;
    text-decoration: underline;
}
button.addToCart{
    font-weight: 150;
    padding: 5px;
    font-family: Corag;
}
button#clear{
    font-weight: 150;
    padding: 5px;
    font-family: Corag;
}
section#infor{
    background-color: rgb(248, 242, 158);
    padding: 3px;
    width: 300px;
    float: right;
}
span.price{
    font-size: 25px;
}
div.producto > span{
    font-size: 25px;
    font-family: Cutimono;
    
}
span.name{
    font-family: Cutimono;
    font-size: 24px; 
}
#not{
    background-color: yellowgreen;
    width: 400px;
    
}
button.addToCart{
    font-size: 25px;
}